[Desktop Entry]
Name=PillCounter
Exec=lxterminal --command="java -jar /home/pi/Desktop/piwatchdog.jar -u "https://raw.githubusercontent.com/jakepurple13/PillCounter/main/version.json" -j "Desktop/PillCounter/bin/PillCounter" -f "PillCounter"